.button
  cursor: pointer
  @include transition

  &_order
    //width: 226px
    background-color: $green
    color: $white
    text-transform: uppercase
    margin: 20px auto 0
    padding: 10px 30px
    text-align: center
    font-family: $bold
    font-size: 24px

    @include tablet
      font-size: 18px

    &_nm
      margin: 0

    &_modal
      margin: 0
      font-size: 18px

    &:hover
      background-color: $greenHover

  &__header
    padding: 7px 20px
    background-color: rgba(255,255,255,0.5)
    cursor: pointer
    color: #000
    font-size: 16px
    @include transition

    @include tablet
      display: block
      background-color: transparent
      padding: 0

    &:hover
      background-color: rgba(255, 255, 255, 1)
      color: #000
      text-decoration: none

      @include tablet
        background-color: transparent

.close
  &:focus
    outline: none