.section
  padding: 60px 0

  &_intro
    padding-top: 130px
    background: url("../images/screen-1.jpg") no-repeat 50% 50%
    background-size: cover

  &_product
    background: url("../images/screen-2.jpg") no-repeat 50% 50%
    background-size: cover

  &_advantage
    background: url("../images/screen-3.jpg") no-repeat 50% 50%
    background-size: cover

  &_guarantee
    background: url("../images/screen-4.jpg") no-repeat 50% 50%
    background-size: cover

  &_registration
    padding-top: 140px
    background: url("../images/screen-reg.png") no-repeat 50% 50%
    background-size: cover

  &_news
    padding-top: 130px
    background: url("../images/screen-news.png") no-repeat 50% 0%
    background-size: contain

  
  &_price
    padding-top: 130px
    background: url("../images/screen-price.png") no-repeat 50% 0%
    background-size: cover

  &_contacts
    padding-top: 130px
    padding-bottom: 0
    background: url("../images/screen-contacts.png") no-repeat 50% 0%
    background-size: contain